[program:uwsgi]
command=uwsgi --master --emperor /home/{{ ansible_env.USER }}/etc/uwsgi/apps-enabled
autostart=true
autorestart=true
stderr_logfile = ~/logs/uwsgi/err.log
stdout_logfile = ~/logs/uwsgi/out.log
stopsignal=INT