[uwsgi]
chdir = {{ app_dir }}/sv_{{ app_name }}/src
static-map = /static=%(chdir)/static
http = :{{ app_port }}
master = true
module = config.wsgi:application
env = DOMAIN={{ domain }}
env = DJANGO_SETTINGS_MODULE={{ settings }}
env = SECRET_KEY={{ secret_key }}
env = DB_NAME={{ ansible_env.USER }}_sv_{{ app_name }}
env = DB_USER={{ ansible_env.USER }}
env = DB_PASSWORD={{ db_pass.stdout }}
env = ADMIN_NAME={{ admin_name }}
env = ADMIN_EMAIL={{ admin_email }}
env = SMTP_HOST=localhost
env = SMTP_PORT=587
env = SMTP_USER={{ ansible_env.USER }}
env = SMTP_PASSWORD={{ smtp_pass }}
virtualenv = %(chdir)/../venv
uid = {{ ansible_env.USER }}
gid = {{ ansible_env.USER }}