{% load i18n %}
{% load static %}
{% load permission_tags %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% block title %}
			<title>
				{% trans "Stammesverwaltung" %}
			</title>
		{% endblock %}

		{% block css %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
			<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
			{{ form.media.css }}
		{% endblock %}

		{% block js %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
			<script src="{% static "js/jquery.formset.js" %}"></script>
			{{ form.media.js }}
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
			{% if not view.is_popup %}
				<nav class="navbar sticky-top navbar-expand-lg navbar-light">
					<a class="navbar-brand py-0" href="/">
						<img src="{% static "img/logo.png" %}" height="50">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
						<div class="navbar-nav mr-auto">
							<div class="nav-item">
								<a class="nav-link btn btn-dark btn-nav my-1 mx-2 px-3" href="{% url 'events:list' %}">{% trans "Events" %}</a>
							</div>
							<div class="nav-item dropdown active">
								<a class="nav-link btn btn-dark btn-nav dropdown-toggle my-2 my-sm-1 mx-2 px-3" href="/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Members" %}</a>
								<div class="dropdown-menu mx-2">
									<a class="dropdown-item" href="{% url "members:list_member" %}">{% trans "Members" %}</a>
									<a class="dropdown-item" href="{% url "members:list_mandate" %}">{% trans "SEPA mandates" %}</a>
									{% if user|has_role:'board,cashier,secretary,leader' %}
										<a class="dropdown-item" href="{% url "members:mfc" %}">{% trans "Membership fee collections" %}</a>
									{% endif %}
								</div>
							</div>
							{% if user|has_role:'board,cashier,leader' %}
								<div class="nav-item dropdown active">
									<a class="nav-link btn btn-dark btn-nav dropdown-toggle my-2 my-sm-1 mx-2 px-3" href="/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Finances" %}</a>
									<div class="dropdown-menu mx-2">
										<a class="dropdown-item" href="{% url "finances:debits" %}">{% trans "Debits" %}</a>
										<a class="dropdown-item" href="{% url "finances:settlements" %}">{% trans "Settlements" %}</a>
										<a class="dropdown-item" href="{% now "Y" as year %}{% url "finances:donations" year %}">{% trans "Donation receipt" %}</a>
										<a class="dropdown-item" href="{% now "Y" as year %}{% url "finances:entries" year %}">{% trans "Entries" %}</a>
										<a class="dropdown-item" href="{% now "Y" as year %}{% url "finances:accounts" year %}">{% trans "Accounts" %}</a>
									</div>
								</div>
							{% else %}
								<div class="nav-item">
									<a class="nav-link btn btn-dark btn-nav my-1 mx-2 px-3" href="{% url 'finances:debits' %}">{% trans "Debits" %}</a>
								</div>
							{% endif %}
							{% if user|has_role:'board,leader,stock_warden' %}
								<div class="nav-item dropdown active">
									<a class="nav-link btn btn-dark btn-nav dropdown-toggle my-2 my-sm-1 mx-2 px-3" href="/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Stock" %}</a>
									<div class="dropdown-menu mx-2">
										<a class="dropdown-item" href="{% url "stock:stock" %}">{% trans "Stock list" %}</a>
										<a class="dropdown-item" href="{% url "stock:orders" %}">{% trans "Orders" %}</a>
									</div>
								</div>
							{% else %}
								<div class="nav-item">
									<a class="nav-link btn btn-dark btn-nav my-1 mx-2 px-3" href="{% url 'stock:orders' %}">{% trans "Orders" %}</a>
								</div>
							{% endif %}
							<div class="nav-item">
								<a class="nav-link btn btn-dark btn-nav my-1 mx-2 px-3" target="_blank" href="https://dschraudner.gitlab.io/stammesverwaltung_doc/">{% trans "Help" %}</a>
							</div>
						</div>
						<div class="navbar-nav">
							<div class="nav-item dropdown active">
								<a class="nav-link btn btn-dark btn-nav dropdown-toggle my-2 my-sm-1 mx-2 px-3" href="/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.get_full_name }}</a>
								<div class="dropdown-menu mx-2">
									{% if user|has_role:'board' %}
										<a class="dropdown-item" href="{% url "auth:administration" %}">{% trans "Administration" %}</a>
									{% endif %}
									<a class="dropdown-item" href="{% url "auth:settings" %}">{% trans "Settings" %}</a>
									<a class="dropdown-item" href="{% url "auth:password-change" %}">{% trans "Change password" %}</a>
									<a class="dropdown-item" href="{% url "auth:logout" %}">{% trans "Logout" %}</a>
								</div>
							</div>
						</div>
					</div>
				</nav>
			{% endif %}
		{% endblock %}

		<div class="container-fluid pt-sm-5 px-sm-5 pt-3 pb-5 px-3">
			{% block messages %}
				{% for message in messages %}
					<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ message }}
					</div>
				{% endfor %}
			{% endblock %}

			{% block content %}
				<div class="row">
					<div class="col-sm mx-2 jumbotron">
						One
					</div>
					<div class="col-sm mx-2 jumbotron">
						Two
					</div>
				</div>
			{% endblock %}
		</div>
		{% block footer %}
			{% if not view.is_popup %}
				<footer class="footer">
					<div class="container text-center py-3">
						© {% now "Y" %}:
						<a href="https://pfadfinder-hirschaid.de/">DPSG St. Vitus Hirschaid</a> |
						<a href="{% url "auth:legal_terms" %}">{% trans "Legal Terms" %}</a> |
						<a href="{% url "auth:privacy_policy" %}">{% trans "Privacy Policy" %}</a>
					</div>
				</footer>
			{% endif %}
		{% endblock %}
	</body>
</html>
