{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{{ title }}</h1>
				<form method="post">
					{% csrf_token %}
					{% bootstrap_form form %}
					{{ form.media }}
					<input class="btn btn-primary" type="submit" value="{% trans "Save" %}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
