{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}
{% load permission_tags %}

{% block content %}
	<div class="row mb-4">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "SEPA mandates" %}</h1>
					</div>
				</div>
				{% if filter %}
					<div class="row mb-4 mt-3">
						<div class="col">
							<form action="" method="get" class="form form-inline justify-content-center">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" name="name" maxlength="50" size="30" id="id_name" type="text" placeholder="{% trans "Depositor, IBAN or reference" %}" value="{{ request.GET.name }}">
										<div class="input-group-append">
											<button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table table %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if user|has_role:'board,secretary' %}
		<div class="row justify-content-center mb-4 mb-sm-0">
			<div class="col-auto my-3 text-center">
				<a class="btn btn-lg btn-success mx-3" href="{% url "members:create_mandate" %}">{% trans "Create mandate" %}</a>
			</div>
		</div>
	{% endif %}
{% endblock %}
