{% extends "_base.html" %}

{% load i18n %}
{% load permission_tags %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mb-4">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Local" %}</h1>
				<h2>{% trans "Member" %}</h2>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Membership number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.nr }}</p>
					</div>
				</div>
				{% if object.first_name != nami_object.vorname %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.vorname %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "First name" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.first_name }}</p>
					</div>
				</div>
				{% if object.last_name != nami_object.nachname %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.nachname %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Last name" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.last_name }}</p>
					</div>
				</div>
				{% if object.section.name != nami_object.stufe %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.stufe %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Section" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.section }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Function" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.get_function_display }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "NaMi number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.nami_nr }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Membership fee" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.fee }} EUR</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Membership fee mandate" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.mandate_membership_fee|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Participation fee mandate" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.mandate_participation_fee|default:"--" }}</p>
					</div>
				</div>
				{% if object.street|slugify != nami_object.strasse|slugify %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.strasse %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Street" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.street }}</p>
					</div>
				</div>
				{% if object.zip|slugify != nami_object.plz|slugify %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.plz %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "ZIP" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.zip }}</p>
					</div>
				</div>
				{% if object.town|slugify != nami_object.ort|slugify %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.ort %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Town" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.town }}</p>
					</div>
				</div>
				{% if object.dob|date != nami_object.geburtsDatum|date %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.geburtsDatum|date %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Date of birth" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.dob|date }}</p>
					</div>
				</div>
				{% if object.gender == 'm' and nami_object.geschlecht != 'männlich' or object.gender == 'w' and nami_object.geschlecht != 'weiblich' %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.geschlecht %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Gender" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.get_gender_display }}</p>
					</div>
				</div>
				{% if object.landline|default:"--" != nami_object.telefon1|default:"--" %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.telefon1 %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Landline number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.landline|default:"--" }}</p>
					</div>
				</div>
				{% if object.mobile|default:"--" != nami_object.telefon2|default:"--" %}
					<div data-tooltip="true" data-placement="bottom" title={% blocktrans with value=nami_object.telefon2 %}"This value differs from NaMi ({{ value }})!"{% endblocktrans %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Mobile number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.mobile|default:"--" }}</p>
					</div>
				</div>
				{% if object.email|default:"--" != nami_object.email|default:"--" and object.email|default:"--" != nami_object.emailVertretungsberechtigter|default:"--" %}
					<div data-tooltip="true" data-placement="bottom" title={% with value1=nami_object.email|default:"--" %}{% blocktrans with value2=nami_object.emailVertretungsberechtigter|default:"--" %}"This value differs from NaMi ({{ value1 }}, {{ value2 }})!"{% endblocktrans %}{% endwith %} class="text-danger row">
				{% else %}
					<div class="row">
				{% endif %}
					<div class="col">
						<p><strong>{% trans "Email address" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.email|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Juleica number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.juleica_nr|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "photo rights" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.photo_rights|yesno }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "User" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ object.user|default:"--" }}</p>
					</div>
				</div>
				{% if user|has_role:'board,secretary' %}
					<div class="row mb-3">
						<div class="col">
							<a class="btn btn-primary mr-2" href="{% url "members:edit_member" object.pk %}">{% trans "Edit" %}</a>
							<a class="btn btn-danger" href="{% url "members:delete_member" object.pk %}">{% trans "Delete" %}</a>
						</div>
					</div>
				{% endif %}

				{% if object.mandate_membership_fee and user|has_role:'board,secretary' %}
					<h2>{% trans "Membership fee mandate" %}</h2>
					<div class="row">
						<div class="col">
							<p><strong>{% trans "Mandate reference" %}:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_membership_fee.reference }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>{% trans "Depostior" %}:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_membership_fee.depositor }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>IBAN:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_membership_fee.iban }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>BIC:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_membership_fee.bic }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>{% trans "Bank" %}:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_membership_fee.bank }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>{% trans "Date" %}:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_membership_fee.date|date }}</p>
						</div>
					</div>
					{% if user|has_role:'board,secretary' %}
						<div class="row mb-3">
							<div class="col">
								<a class="btn btn-primary" href="{% url "members:list_mandate" %}?name={{ object.mandate_membership_fee.reference }}">{% trans "Details" %}</a>
							</div>
						</div>
					{% endif %}
				{% endif %}

				{% if object.mandate_participation_fee and user|has_role:'board,secretary' %}
					<h2>{% trans "Participation fee mandate" %}</h2>
					<div class="row">
						<div class="col">
							<p><strong>{% trans "Mandate reference" %}:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_participation_fee.reference }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>{% trans "Depostior" %}:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_participation_fee.depositor }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>IBAN:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_participation_fee.iban }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>BIC:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_participation_fee.bic }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>{% trans "Bank" %}:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_participation_fee.bank }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p><strong>{% trans "Date" %}:</strong></p>
						</div>
						<div class="col">
							<p>{{ object.mandate_participation_fee.date|date }}</p>
						</div>
					</div>
					{% if user|has_role:'board,secretary' %}
						<div class="row mb-3">
							<div class="col">
								<a class="btn btn-primary" href="{% url "members:list_mandate" %}?name={{ object.mandate_participation_fee.reference }}">{% trans "Details" %}</a>
							</div>
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="col-md-6 mb-4">
			<div class="jumbotron">
				<h1 class="text-center">NaMi</h1>
				<h2>{% trans "Core data" %}</h2>
				<div class="row">
					<div class="col">
						<p><strong>ID:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.id }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "NaMi number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.mitgliedsNummer|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Group" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.gruppierung|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "First name" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.vorname|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Last name" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.nachname|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Nickname" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.spitzname|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Gender" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.geschlecht|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Nationality" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.staatsangehoerigkeit|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Other nationality" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.staatsangehörigkeitText|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Confession" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.konfession|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Date of birth" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.geburtsDatum|date|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Date of joining" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.eintrittsdatum|date|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Date of resignation" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.austrittsDatum|date|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Status" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.status|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Membership type" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.mglType|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Section" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.stufe|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Fee type" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.beitragsart|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Continued use of data" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.wiederverwendenFlag|yesno }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Magazine dispatch" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.zeitschriftenversand|yesno }}</p>
					</div>
				</div>
				<h2>{% trans "Address & contact details" %}</h2>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Street" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.strasse|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Addition to name/address" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.nameZusatz|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "ZIP" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.plz|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Town" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.ort|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "State" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.region|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Country" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.land|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Landline number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.telefon1|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Mobile number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.telefon2|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Business number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.telefon3|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Fax number" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.telefax|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Email address" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.email|default:"--" }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p><strong>{% trans "Email address of legal guardian" %}:</strong></p>
					</div>
					<div class="col">
						<p>{{ nami_object.emailVertretungsberechtigter|default:"--" }}</p>
					</div>
				</div>
				<h2>{% trans "Activities" %}</h2>
				<div class="row">
					<div class="col">
						<table class="table table-sm table-borderless table-striped">
							{% for t in nami_object.taetigkeiten %}
								<tr>
									<td>{{ t.entries_untergliederung }}</td>
									<td>{{ t.entries_taetigkeit }}</td>
									<td>{{ t.entries_gruppierung }}</td>
									<td>{{ t.entries_aktivVon|date }} - {{ t.entries_aktivBis|date|default:_("today") }}</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
