{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}
{% load permission_tags %}

{% block content %}
	<div class="row mb-4">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Membership fee collections" %}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table table %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if user|has_role:'board,secretary,cashier' %}
		<div class="row justify-content-center mb-4 mb-sm-0">
			<div class="col-auto my-3 text-center">
				<a class="btn btn-lg btn-success mx-3" href="{% url "finances:create_mfc" %}">{% trans "Collect membership fees" %}</a>
			</div>
		</div>
	{% endif %}
{% endblock %}
