{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			{% if members %}
				<div class="jumbotron">
					<h1 class="text-center">{% trans "Delete section" %}</h1>
					{% blocktrans %}"{{ object }}" cannot be deleted because the following members are in that section:{% endblocktrans %}
					<ul>
						{% for m in members %}
							<li>{{ m }}</li>
						{% endfor %}
					</ul>
					<a class="btn btn-primary" href="{{ view.get_success_url }}">{% trans "Back"%}</a>
				</div>
			{% else %}
				<div class="jumbotron text-center">
					<h1>{% trans "Delete section" %}</h1>
					<form method="post">
						{% csrf_token %}
						<p>
							{% blocktrans %}
								Are you sure you want to delete "{{ object }}"?
							{% endblocktrans %}
						</p>
						<a class="btn btn-primary mr-2" href="{{ view.get_success_url }}">{% trans "Cancel"%}</a>
						<input class="btn btn-danger" type="submit" value="{% trans "Delete" %}">
					</form>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
