{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron text-center">
				<h1>{% trans "Delete mandate" %}</h1>
				<form method="post">
					{% csrf_token %}
					<p>
						{% blocktrans %}
							Are you sure you want to delete "{{ object }}"?
						{% endblocktrans %}
					</p>
					<p>
						{% if members %}
							{% trans "Warning: The SEPA mandate is currently used for the following members:" %}
							<ul>
								{% for m in members %}
									<li>{{ m }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</p>
					<a class="btn btn-primary mr-2" href="{{ view.get_success_url }}">{% trans "Cancel"%}</a>
					<input class="btn btn-danger" type="submit" value="{% trans "Delete" %}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
