.navbar {
 	background-color: #800020;
}

.btn-nav {
        background-color: black;
        border-color: black;
        border-radius: 8px;
}

.navbar-light .navbar-nav .nav-link {
	color: #F5F5F5;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #F5F5F5;
}

.navbar-light .navbar-toggler {
	border-color: black;
}

.navbar-light .navbar-nav .active > .nav-link {
	color: #F5F5F5;
}

.navbar-light .navbar-nav .show > .nav-link {
	color: #F5F5F5;
}

.dropdown-menu {
	background-color: black;
	border-radius: 8px;
}

.dropdown-item:hover {
	background-color: #23272b;
	border-color: #1d2124;
	color: white;
}

.dropdown-item {
	color: white;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
    	background-color: #800020;
	color: black;
}

.footer a {
	color:black;
	text-decoration: underline;
}

.footer a:hover {
	text-decoration: none;
}


th > a {
	color:black;
	text-decoration: underline;
}

th > a:hover {
	text-decoration: none;
}

.btn-esm {
	line-height: 1;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
	padding-bottom: 3rem;
        background-color: #dcd2b6;
	min-height: 100%;
}

html {
	height: 100%;
}

.jumbotron {
    background-color: white;
    border-radius: 12px;
    border: 8px solid #800020;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 1rem;
    min-height: 100%;
}

.jumbotron-login {
    max-width: 500px;
    
}

.table-debit {
    border-top: 1px solid black;
}

.table-credit {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

@media (max-width: 992px) {
  html {
    font-size: 0.95rem;
	}
	h1 {
		font-size: 2rem;
	}
}
