{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}
{% load permission_tags %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Year" %}</h1>
					</div>
				</div>
				<div class="row px-2">
                                        {% for year in years %}
                                                <div class="col-auto px-0">
                                                        {% if current_year == year %}
                                                                <a class="btn btn-primary mx-2 px-3" href="{% url 'finances:accounts' year %}">{{ year }}</a>
                                                        {% else %}
                                                                <a class="btn btn-secondary mx-2 px-3" href="{% url 'finances:accounts' year %}">{{ year }}</a>
                                                        {% endif %}
                                                </div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mt-4">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Asset accounts" %}</h1>
						{% for account in asset_accounts %}
                                <h2 class="text-center">{{ account.name }} {% if account.closed %}({% trans "closed" %}){% endif %}</h3>
                                <div class="row mx-auto my-auto justify-content-center">
                                        <div class="col-md-6 pr-0">
                                                <h3 class="text-center">{% trans "Debit" %}</h3>
                                                <table class="table table-borderless table-striped table-hover table-sm table-debit">
                                                        {% for type,entry in account.get_entries_with_type %}
                                                                {% if type == 'debit' %}
                                                                        <tr data-tooltip="true" data-placement="bottom" title="{{ entry.date }}, {{ entry.comment }}">
                                                                                <td>{{ entry.id }}</td>
                                                                                <td>{{ entry.credit_account }}</td>
                                                                                <td>{{ entry.amount }}</td>
                                                                        </tr>
                                                                {% else %}
                                                                        <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                        </tr>
                                                                {% endif %}
                                                        {% endfor %}
                                                </table>
                                        </div>
                                        <div class="col-md-6 pl-0">
                                                <h3 class="text-center">{% trans "Credit" %}</h3>
                                                <table class="table table-borderless table-striped table-hover table-sm table-credit">
                                                        {% for type,entry in account.get_entries_with_type %}
                                                                {% if type == 'credit' %}
                                                                        <tr data-tooltip="true" data-placement="bottom" title="{{ entry.date }}, {{ entry.comment }}">
                                                                                <td>{{ entry.id }}</td>
                                                                                <td>{{ entry.debit_account }}</td>
                                                                                <td>{{ entry.amount }}</td>
                                                                        </tr>
                                                                {% else %}
                                                                        <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                        </tr>
                                                                {% endif %}
                                                        {% endfor %}
                                                </table>
                                        </div>
										{% with type=account.get_balance_with_type.0 %}
											{% if type == 'debit' %}
													<h4 class="text-center">{% trans "Balance" %}: {{ account.get_balance_with_type.1 }} {% trans "Debit" %}</h3>
											{% else %}
													<h4 class="text-center">{% trans "Balance" %}: {{ account.get_balance_with_type.1 }} {% trans "Credit" %}</h3>
											{% endif %}
										{% endwith %}
                                </div>
                                {% if user|has_role:'board,cashier' %}
                                        <div class="row justify-content-center">
                                                <a class="btn btn-sm btn-primary mx-3" href="{% url 'finances:edit_account' account.id %}">{% trans "Edit" %}</a>
                                        </div>
                                {% endif %}
                                <hr>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 mt-4">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Profit and loss accounts" %}</h1>
						{% for account in pal_accounts %}
                                <h2 class="text-center">{{ account.name }} {% if account.closed %}({% trans "closed" %}){% endif %}</h3>
                                <div class="row mx-auto my-auto justify-content-center">
                                        <div class="col-md-6 pr-0">
                                                <h3 class="text-center">{% trans "Debit" %}</h3>
                                                <table class="table table-borderless table-striped table-hover table-sm table-debit">
                                                        {% for type,entry in account.get_entries_with_type %}
                                                                {% if type == 'debit' %}
                                                                        <tr data-tooltip="true" data-placement="bottom" title="{{ entry.date }}, {{ entry.comment }}">
                                                                                <td >{{ entry.id }}</td>
                                                                                <td>{{ entry.credit_account }}</td>
                                                                                <td>{{ entry.amount }}</td>
                                                                        </tr>
                                                                {% else %}
                                                                        <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                        </tr>
                                                                {% endif %}
                                                        {% endfor %}
                                                </table>
                                        </div>
                                        <div class="col-md-6 pl-0">
                                                <h3 class="text-center">{% trans "Credit" %}</h3>
                                                <table class="table table-borderless table-striped table-hover table-sm table-credit">
                                                        {% for type,entry in account.get_entries_with_type %}
                                                                {% if type == 'credit' %}
                                                                        <tr data-tooltip="true" data-placement="bottom" title="{{ entry.date }}, {{ entry.comment }}">
                                                                                <td>{{ entry.id }}</td>
                                                                                <td>{{ entry.debit_account }}</td>
                                                                                <td>{{ entry.amount }}</td>
                                                                        </tr>
                                                                {% else %}
                                                                        <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                        </tr>
                                                                {% endif %}
                                                        {% endfor %}
                                                </table>
                                        </div>
										{% with type=account.get_balance_with_type.0 %}
											{% if type == 'debit' %}
													<h4 class="text-center">{% trans "Balance" %}: {{ account.get_balance_with_type.1 }} {% trans "Debit" %}</h3>
											{% else %}
													<h4 class="text-center">{% trans "Balance" %}: {{ account.get_balance_with_type.1 }} {% trans "Credit" %}</h3>
											{% endif %}
										{% endwith %}
                                </div>
                                {% if user|has_role:'board,cashier' %}
                                        <div class="row justify-content-center">
                                                <a class="btn btn-sm btn-primary mx-3" href="{% url 'finances:edit_account' account.id %}">{% trans "Edit" %}</a>
                                        </div>
                                {% endif %}
                                <hr>
                        {% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-4 mb-4 mb-sm-0">
                {% if user|has_role:'board,cashier' %}
                        <div class="col-auto my-3 text-center">
                                <a class="btn btn-lg btn-success mx-3" href="{% url 'finances:create_account' %}">{% trans "Create account" %}</a>
                        </div>
                        <div class="col-auto my-3 text-center">
                                <a class="btn btn-lg btn-danger mx-3" href="{% url 'finances:close_accounts' current_year %}">{% trans "Close accounts" %}</a>
                        </div>
                {% endif %}
                <div class="col-auto my-3 text-center">
                        <a class="btn btn-lg btn-primary mx-3" href="{% url 'finances:export_account' current_year %}">{% trans "Export accounts" %}</a>
		</div>
	</div>
{% endblock %}
