{% load i18n %}

<div class="input-group">
    {{ widget }}

    {% if add_related_url %}
        <div class="input-group-append">
            <a class="btn btn-outline-success related-widget-wrapper-link" id="add_id_{{ name }}" href="{{ add_related_url }}?{{ url_params }}">{% trans "Add" %}</a>
        </div>
    {% endif %}
</div>