{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load render_table from django_tables2 %}

{% block content %}
	<div class="row">
		<div class="col mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Close accounts for" %} {{ year }}</h1>
				<div class="row">
					<div class="col">
						<form action="" method="post">
							{% csrf_token %}
							<p>{% trans "The following accounts will be closed:" %}</p>
							<div class="table-responsive">
								{% render_table table %}
								<input type="submit" class="btn btn-primary" value="{% trans "Close" %}">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
