{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load render_table from django_tables2 %}

{% block content %}
	<div class="row">
		<div class="col mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Collect membership fees" %}</h1>
				<div class="row">
					<div class="col">
						<form action="" method="post">
							{% csrf_token %}
							{{ form|bootstrap }}
							<p>{% trans "The following debits will be created:" %}</p>
							<div class="table-responsive">
								{% render_table table %}
								<input type="submit" class="btn btn-primary" value="{% trans "Collect" %}">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
