{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load render_table from django_tables2 %}

{% block content %}
	<div class="row">
		<div class="col mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Confirm debit export" %}</h1>
				<div class="row">
					<div class="col">
						<p>{% trans "The following debits will be exported and completed:" %}</p>
						<div class="table-responsive">
							<form action="{% url 'finances:export_debit' %}" method="post">
								{% csrf_token %}
								{% render_table table %}
								<button type="submit" id="id_download" class="btn btn-primary">{% trans "Confirm" %}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).on("click", "#id_download", function () {
			setTimeout(function () {
				window.location = "{% url 'finances:debits' %}";
			}, 1000);
		});
	</script>
{% endblock %}
