{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}
{% load permission_tags %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Open debits" %}</h1>
						<h3 class="text-center">{{ group.execution_date|date }}</h3>
					</div>
				</div>
				{% if filter %}
					<div class="row mb-4 mt-3">
						<div class="col">
							<form action="" method="get" class="form form-inline justify-content-center">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" name="member_reference" maxlength="50" size="30" id="id_name" type="text" placeholder="{% trans "Member or reference" %}" value="{{ request.GET.member_reference }}">
										<div class="input-group-append">
											<button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table tables.0 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Closed debits" %}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table tables.1 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if user|has_role:'board,cashier' %}
		<div class="row justify-content-center mt-4 mb-4 mb-sm-0">
			<div class="col-auto my-3 text-center">
				<a class="btn btn-lg btn-success mx-3" href="{% url 'finances:create_debit' %}">{% trans "Create debit" %}</a>
			</div>
		</div>
	{% endif %}

	<script>
		$('#id_completed').change(function() {
			$(this).closest('form').submit();
		});
	</script>
{% endblock %}
