{% extends "easy_pdf/base.html" %}
{% load static %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2.5cm;
            margin-right: 2.5cm;
            margin-top: 3.7cm;
            margin-bottom: 2.5cm;
            @frame header {
                -pdf-frame-content: page-header-right;
                margin-top: 7cm;
                margin-right: 2.5cm;
            }
        }
    </style>
{%endblock%}

{% block extra_style %}
    <style type="text/css">
        .signature {
            height: 50px;
        }
        .from-address {
            font-size: 7pt;
        }
        .address {
            font-size: 11pt;
            margin-top: 10px;
            margin-bottom: 60px;
        }
        .content {
            font-size: 10pt;
            font-family: "Calibri";
            text-align: justify;
            line-height: 1.3;
        }
        .date {
            font-size: 10pt;
            font-family: "Calibri";
            text-align: right;
        }
        p {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
        table {
            border:  1px solid black;
            padding-top: 4px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block page_header %}
    <div class="from-address">
        {{ member.first_name }} {{ member.last_name }} • {{ member.street }} • {{ member.zip }} {{ member.town }}
    </div>
    <div class="address">
        DPSG St. Vitus Hirschaid -
        <br/>
        Freundes- und Förderkreis e. V.
        <br/>
		96114 Hirschaid
    </div>
{% endblock %}

{% block content %}
    <div id="page-header-right">
        <p class="date">
            Hirschaid, {{ today|date }}
        </p>
    </div>
    <div class="content">
        <h2>
            Antrag auf Ausstellung einer Spendenbescheinigung -
            <br/>
            Verzicht auf Erstattung von Aufwendungen
        </h2>
        <h3>1. Abrechnung von Fahrtkosten (mit PKW) für den Stamm St. Vitus Hirschaid:</h3>
        <table>
            <tr>
                <th style="width: 40%;">Datum</th>
                <th style="width: 55%;">Von</th>
                <th style="width: 55%;">Nach</th>
                <th style="width: 20%;">km</th>
                <th style="width: 30%;">x 0,30 €</th>
                <th>Bemerkung</th>
            </tr>
            {% for t in travelingCosts %}
                <tr>
                    <td>{{ t.date|date:"d.m.Y" }}</td>
                    <td>{{ t.from_place }}</td>
                    <td>{{ t.to_place }}</td>
                    <td>{{ t.kilometers }}</td>
                    <td>{{ t.amount|floatformat:2 }} €</td>
                    <td>{{ t.comment }}</td>
                </tr>
            {% endfor %}
        </table>
        <p style="margin-top: 20px;"><b>Fahrtkosten gesamt: {{ sum_traveling|floatformat:2 }} €</b></p>
        <h3>2. Abrechnung von sonstigen Auslagen für den Stamm St. Vitus Hirschaid:</h3>
        <table>
            <tr>
                <th style="width: 20%;">Datum</th>
                <th>Grund</th>
                <th style="width: 15%;">Betrag</th>
                <th>Bemerkung</th>
            </tr>
            {% for d in donations %}
                <tr>
                    <td>{{ d.date|date:"d.m.Y" }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.amount|floatformat:2 }} €</td>
                    <td>{{ d.comment }}</td>
                </tr>
            {% endfor %}
        </table>
        <p style="margin-top: 20px;"><b>Auslagen gesamt: {{ sum_donations|floatformat:2 }} €</b></p>
        <p style="margin-top: 10px;"><b>Summe gesamt: {{ sum|floatformat:2 }} €</b></p>
        <p style="margin-top: 10px;">Ich bestätige die Richtigkeit meiner Angaben, verzichte auf eine Erstattung und bitte um Ausstellung einer
		entsprechenden Spendenbescheinigung.</p>
        <p style="margin-top: 70px;">{{ member.first_name }} {{ member.last_name }}</p>
    </div>
{% endblock %}