{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Year" %}</h1>
					</div>
				</div>
				<div class="row px-2">
					{% for year in years %}
						<div class="col-auto px-0">
							{% if current_year == year %}
								<a class="btn btn-primary mx-2 px-3" href="{% url 'finances:donations' year %}">{{ year }}</a>
							{% else %}
								<a class="btn btn-secondary mx-2 px-3" href="{% url 'finances:donations' year %}">{{ year }}</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Traveling costs" %}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table tables.1 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Donations" %}</h1>
						</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table tables.0 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-4 mb-4 mb-sm-0">
		<div class="col-auto my-3 text-center">
			<a class="btn btn-lg btn-success mx-3" href="{% url 'finances:create_travelingcost' %}">{% trans "Create traveling cost" %}</a>
		</div>
		<div class="col-auto my-3 text-center">
			<a class="btn btn-lg btn-success mx-3" href="{% url 'finances:create_donation' %}">{% trans "Create donation" %}</a>
		</div>
		<div class="col-auto my-3 text-center">
			<a class="btn btn-lg btn-primary mx-3" href="{% url 'finances:export_donations' current_year %}">{% trans "Donation receipt" %}</a>
		</div>
	</div>
{% endblock %}
