{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}
{% load permission_tags %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Year" %}</h1>
					</div>
				</div>
				<div class="row px-2">
					{% for year in years %}
						<div class="col-auto px-0">
							{% if current_year == year %}
								<a class="btn btn-primary mx-2 px-3" href="{% url 'finances:entries' year %}">{{ year }}</a>
							{% else %}
								<a class="btn btn-secondary mx-2 px-3" href="{% url 'finances:entries' year %}">{{ year }}</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Entries" %}</h1>
					</div>
				</div>
				{% if filter %}
					<div class="row mb-4 mt-3">
						<div class="col">
							<form action="" method="get" class="form form-inline justify-content-center">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" name="comment_account" maxlength="50" size="30" id="id_name" type="text" placeholder="{% trans "Comment or account" %}" value="{{ request.GET.comment_account }}">
										<div class="input-group-append">
											<button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col">
						<h2>{% trans "January" %}</h2>
						<div class="table-responsive">
							{% render_table tables.0 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "February" %}</h2>
						<div class="table-responsive">
							{% render_table tables.1 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "March" %}</h2>
						<div class="table-responsive">
							{% render_table tables.2 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "April" %}</h2>
						<div class="table-responsive">
							{% render_table tables.3 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "May" %}</h2>
						<div class="table-responsive">
							{% render_table tables.4 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "June" %}</h2>
						<div class="table-responsive">
							{% render_table tables.5 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "July" %}</h2>
						<div class="table-responsive">
							{% render_table tables.6 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "August" %}</h2>
						<div class="table-responsive">
							{% render_table tables.7 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "September" %}</h2>
						<div class="table-responsive">
							{% render_table tables.8 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "October" %}</h2>
						<div class="table-responsive">
							{% render_table tables.9 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "November" %}</h2>
						<div class="table-responsive">
							{% render_table tables.10 %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<h2>{% trans "December" %}</h2>
						<div class="table-responsive">
							{% render_table tables.11 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-4 mb-4 mb-sm-0">
		{% if user|has_role:'board,cashier' %}
			<div class="col-auto my-3 text-center">
				<a class="btn btn-lg btn-success mx-3" href="{% url 'finances:create_entry' %}">{% trans "Create entry" %}</a>
			</div>
		{% endif %}
		<div class="col-auto my-3 text-center">
			<a class="btn btn-lg btn-primary mx-3" href="{% url 'finances:export_entry' current_year %}">{% trans "Export entries" %}</a>
		</div>
		<div class="col-auto my-3 text-center">
			<a class="btn btn-lg btn-primary mx-3" href="{% url 'finances:export_voucher' current_year %}">{% trans "Export vouchers" %}</a>
		</div>
	</div>
{% endblock %}
