
<div class="input-group">
    <input type="number" class="form-control" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %} name="{{ widget.name }}" min="0" step="0.01">

    <div class="input-group-append">
        <span class="input-group-text" id="currency">EUR</span>
    </div>
</div>