{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron text-center">
				<h1>{% trans "Delete debits" %}</h1>
				<form method="post">
					{% csrf_token %}
					<p>
						{% blocktrans %}
							Are you sure you want to delete all {{ count }} debits dependent of {{ object }}?
						{% endblocktrans %}
					</p>
					<a class="btn btn-primary mr-2" href="{% url "events:details" object.id %}">{% trans "Cancel"%}</a>
					<input class="btn btn-danger" type="submit" value="{% trans "Delete" %}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
