{% load i18n %}

<div class="custom-file">
    <input type="file" class="custom-file-input" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %} name="{{ widget.name }}" id="id_{{ widget.name }}">
    <label class="custom-file-label" for="id_{{ widget.name }}">{% if widget.is_initial %}{{ widget.value }}{% else %}{% trans "Choose file" %}{% endif %}</label>
</div>

<script>
    $('#id_{{ widget.name }}').on('change',function(e){
        //get the file name
        var fileName = e.target.files[0].name;
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
</script>