{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Open settlements" %}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table tables.0 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Closed settlements" %}</h1>
					</div>
				</div>
				{% if filter %}
					<div class="row mb-4 mt-3">
						<div class="col">
							<form action="" method="get" class="form form-inline justify-content-center">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" name="comment_contra_account" maxlength="50" size="30" id="id_name" type="text" placeholder="{% trans "Comment or contra account" %}" value="{{ request.GET.comment_contra_account }}">
										<div class="input-group-append">
											<button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table tables.1 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-4 mb-4 mb-sm-0">
		<div class="col-auto my-3 text-center">
			<a class="btn btn-lg btn-success mx-3" href="{% url 'finances:create_settlement' %}">{% trans "Create settlement" %}</a>
		</div>
	</div>
{% endblock %}
