{% extends "easy_pdf/base.html" %}

{% block extra_style %}
    <style type="text/css">
        h1 {
            font-size: 30px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
        {% for e in entries %}
            {% if e.voucher %}
                <h1>{{ e.date.year }}/{{ e.id }}</h1>
                <img src="{{ e.voucher.url }}" />
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}