{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Complete order" %}</h1>
				{% if debit %}
					<div class="row mt-3">
						<div class="col">
							<p>{% trans "The following debit will be created:" %}</p>
							<table class="table table-borderless table-sm">
								<tr>
									<th>
										{% trans "Execution date" %}:
									</th>
									<td>{{ debit.group.execution_date|date }}</td>
								</tr>
								<tr>
									<th>
										{% trans "Member" %}:
									</th>
									<td>{{ debit.member }}</td>
								</tr>
								<tr>
									<th>
										{% trans "SEPA mandate" %}:
									</th>
									<td>{{ debit.mandate }}</td>
								</tr>
								<tr>
									<th>
										{% trans "Reference" %}:
									</th>
									<td>{{ debit.reference }}</td>
								</tr>
								<tr>
									<th>
										{% trans "Amount" %}:
									</th>
									<td>{{ debit.amount }}</td>
								</tr>
							</table>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col">
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{{ form|bootstrap }}
							<input class="btn btn-success" type="submit" value="{% trans "Complete" %}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
