{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Create order" %}</h1>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form|bootstrap }}
					<input class="btn btn-primary" type="submit" value="{% trans "Order" %}">
				</form>
			</div>
		</div>
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Choose item" %}</h1>
				<div class="table-responsive">
					<table class="table table-borderless table-striped table-hover table-sm">
							<tr>
								<th>{% trans "Name" %}</th>
								<th>{% trans "Prize" %}</th>
								<th>{% trans "View" %}</th>
								<th>{% trans "Import" %}</th>
							</tr>
							{% for i in items %}
								<tr>
									<td>{{ i.name }}</td>
									<td>{{ i.prize }} EUR</td>
									<td>
										{% if i.link %}
											<a target="_blank" class="btn btn-primary btn-sm btn-esm float-right" href="{{ i.link }}">{% trans "View" %}</a>
										{% endif %}
									</td>
									<td>
										<a class="btn btn-primary btn-sm btn-esm float-right" href="{% url 'stock:create_order' %}?import={{ i.item_no }}">{% trans "Import" %}</a>
									</td>
								</tr>
							{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
