{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Reservations for" %} {{stock}}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table table %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-4 mb-4 mb-sm-0">
		<div class="col-auto my-3 text-center">
			<a class="btn btn-lg btn-success mx-3" href="{% url 'stock:create_reservation' stock.pk %}">{% trans "Create reservation" %}</a>
		</div>
	</div>
{% endblock %}
