{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}
{% load permission_tags %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Stock" %}</h1>
					</div>
				</div>
				{% if filter %}
					<div class="row mb-4 mt-3">
						<div class="col">
							<form action="" method="get" class="form">
								<div class="form-inline justify-content-center">
									<div class="input-group">
										<input class="form-control" name="name" maxlength="50" size="30" id="id_name" type="text" placeholder="{% trans "Name" %}" value="{{ request.GET.name }}">
										<div class="input-group-append">
											<button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							{% render_table table %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if user|has_role:'board,stock_warden' %}
	<div class="row justify-content-center mt-4 mb-4 mb-sm-0">
		<div class="col-auto my-3 text-center">
				<a class="btn btn-lg btn-success mx-3" href="{% url 'stock:create_stock' %}">{% trans "Create stock item" %}</a>
			</div>
		</div>
	{% endif %}

	<script>
		$('#id_completed').change(function() {
			$(this).closest('form').submit();
		});
	</script>
{% endblock %}
