{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Legal terms" %}</h1>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						Diese Homepage wird von  der Deutschen Pfadfinderschaft Sankt Georg (DPSG) Stamm St. Vitus Hirschaid herausgegeben.
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h3>Angaben gemäß § 5 TMG:</h3>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h4>Anschrift</h4>
						DPSG Stamm St.Vitus Hirschaid
						<br>
						Realschulstr. 5
						<br>
						96114 Hirschaid
						<br>
						<br>
						Vertretungsberechtigt ist der Vereinsvorstand:
						<br>
						Daniel Schraudner, Katrin Wiechmann, Philipp Wiechmann
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h4>Kontakt</h4>
						E-Mail: kontakt at pfadfinder-hirschaid.de
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h4>
						Daniel Schraudner
						<br>
						Rinnigstr. 25a
						<br>
						96114 Hirschaid
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h3>Haftungsausschluss:</h3>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h4>Datenschutzhinweise</h4>
						Hier finden sie unsere ausführlichen Datenschutzerklärungen.
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h4>Haftung für Inhalte</h4>
						Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h4>Haftung für Links</h4>
						Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<h4>Urheberrecht</h4>
						Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
