{% extends "_base.html" %}

{% load i18n %}
{% load static %}

{% block navbar %}
{% endblock %}


{% block content %}

	<div class="jumbotron jumbotron-login mx-auto my-sm-5">
		<a href="/">
			<img src="{% static 'img/logo.png' %}" class="img-fluid">
		</a>
		<h3 class="text-center mb-4"><p class="rh">{% trans "Stammesverwaltung" %}</p></h3>
		<form action="" method="post">
			{% csrf_token %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<div class="form-group">
				{% for error in form.username.errors %}
					<div class="alert alert-danger">
						{{ error }}
					</div>
				{% endfor %}
				<input class="form-control" name="username" autofocus="" maxlength="254" id="id_username" type="email" placeholder="{% trans "Email address" %}" required autofocus>
			</div>
			<div class="form-group">
				{% for error in form.password.errors %}
					<div class="alert alert-danger">
						{{ error }}
					</div>
				{% endfor %}
				<input class="form-control" name="password" required id="id_password" type="password" placeholder="{% trans "Password" %}">
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
			<div class="form-group row text-center align-items-center">
				<div class="col-sm my-2">
					<button class="btn btn-lg btn-primary px-4" type="submit">{% trans "Login" %}</button>
				</div>
				<div class="col-sm my-2">
					<a href="{% url "auth:register" %}">{% trans "Register" %}</a>
				</div>
				<div class="col-sm my-2">
					<a href="{% url "auth:password-reset" %}">{% trans "Reset password" %}</a>
				</div>
			</div>
		</form>
{% endblock %}

{% block footer %}
{% endblock %}
