{% extends "_base.html" %}

{% load i18n %}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-login mx-auto my-sm-5">
	<a href="/">
		<img src="{% static 'img/logo.png' %}" class="img-fluid">
	</a>
	<h3 class="text-center mb-3 mt-2"><p class="rh">{% trans "Stammesverwaltung" %}</p></h3>
	<h5 class="text-center mb-4"><p class="rh">{% trans "Change password" %}</p></h5>
	<p class="text-center">
		{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
	</p>
	<form action="" method="post">
		{% csrf_token %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				{{ error }}
			</div>
		{% endfor %}
		<div class="form-group">
			{% for error in form.old_password.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="old_password" autofocus="" maxlength="254" id="id_old_password" type="password" placeholder="{% trans "Old password" %}" required autofocus>
		</div>
		<div class="form-group">
			{% for error in form.new_password1.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="new_password1" autofocus="" maxlength="254" id="id_new_password1" type="password" placeholder="{% trans "New password" %}" required autofocus>
		</div>
		<div class="form-group">
			{% for error in form.new_password2.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="new_password2" autofocus="" maxlength="254" id="id_new_password2" type="password" placeholder="{% trans "Confirm new password" %}" required autofocus>
		</div>
		<div class="form-group text-center mt-4">
				<button class="btn btn-lg btn-primary px-4" type="submit">{% trans "Change" %}</button>
		</div>
	</form>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
