{% extends "_base.html" %}

{% load i18n %}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-login mx-auto my-sm-5">
	<a href="/">
		<img src="{% static 'img/logo.png' %}" class="img-fluid">
	</a>
	<h3 class="text-center mb-3 mt-2"><p class="rh">{% trans "Stammesverwaltung" %}</p></h3>
	<h5 class="text-center mb-4"><p class="rh">{% trans "Reset password" %}</p></h5>
	<p class="text-center">
		{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
	</p>
	<form action="" method="post">
		{% csrf_token %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				{{ error }}
			</div>
		{% endfor %}
		<div class="form-group">
			{% for error in form.email.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="email" autofocus="" maxlength="50" id="id_email" type="" placeholder="{% trans "Email address" %}" required autofocus>
		</div>
		<div class="form-group text-center mt-4">
				<button class="btn btn-lg btn-primary px-4" type="submit">{% trans "Reset" %}</button>
		</div>
	</form>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
