{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Privacy policy" %}</h1>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
