{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron text-center">
				<h1>{% trans "Delete registration request" %}</h1>
				<form method="post">
					{% csrf_token %}
					<p>
						{% blocktrans %}
						Are you sure you want to delete the registration request of "{{ object }}"?
						{% endblocktrans %}
					</p>
					<a class="btn btn-primary mr-2" href="{{ view.get_success_url }}">{% trans "Cancel"%}</a>
					<input class="btn btn-danger" type="submit" value="{% trans "Delete" %}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
