{% extends "_base.html" %}

{% load i18n %}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-login mx-auto my-sm-5">
	<a href="/">
		<img src="{% static 'img/logo.png' %}" class="img-fluid">
	</a>
	<h3 class="text-center mb-3 mt-2"><p class="rh">{% trans "Stammesverwaltung" %}</p></h3>
	<h5 class="text-center mb-4"><p class="rh">{% trans "Registration" %}</p></h5>
	<p class="text-center">
		{% trans "Please fill out the following fields:" %}
	</p>
	<form action="" method="post">
		{% csrf_token %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				{{ error }}
			</div>
		{% endfor %}
		<div class="form-group">
			{% for error in form.first_name.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="first_name" autofocus="" maxlength="50" id="id_first_name" type="text" placeholder="{% trans "First name" %}" required autofocus>
		</div>
		<div class="form-group">
			{% for error in form.last_name.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="last_name" autofocus="" maxlength="50" id="id_last_name" type="text" placeholder="{% trans "Last name" %}" required autofocus>
		</div>
		<div class="form-group">
			{% for error in form.email.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="email" autofocus="" maxlength="50" id="id_email" type="email" placeholder="{% trans "Email address" %}" required autofocus>
		</div>
		<div class="form-group">
			{% for error in form.password1.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="password1" autofocus="" maxlength="254" id="id_password1" type="password" placeholder="{% trans "Password" %}" required autofocus>
		</div>
		<div class="form-group">
			{% for error in form.password2.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<input class="form-control" name="password2" autofocus="" maxlength="254" id="id_password2" type="password" placeholder="{% trans "Confirm password" %}" required autofocus>
		</div>
		<div class="form-group">
			{% for error in form.role.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<select class="form-control" name="role" autofocus="" id="id_role" required autofocus>
				<option disabled selected>{% trans "Role" %}</option>
				{% for value, text in form.role.field.choices %}
					<option value="{{ value }}">{{ text }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			{% for error in form.members.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endfor %}
			<textarea class="form-control" name="members" autofocus="" maxlength="200" id="id_members" rows="5" placeholder="{% trans "Members in group" %}" required autofocus></textarea>
		</div>
		<div class="form-group text-center mt-4">
				<button class="btn btn-lg btn-primary px-4" type="submit">{% trans "Register" %}</button>
		</div>
	</form>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
