{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load permission_tags %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "Settings" %}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<div class="jumbotron col px-auto">
				<div class="row">
					<div class="col">
						<h1 class="text-center">{% trans "E-Mail settings" %}</h1>
						{% trans "Check when email should be sent:"%}
					</div>
				</div>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<div class="row mt-2">
								<div class="col">
									<h2>{% trans "Members" %}</h2>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col">
									{{ member_email_form|bootstrap }}
								</div>
							</div>
						</div>
						{% if user|has_role:'board,leader' %}
							<div class="col-md-6">
								<div class="row mt-2">
									<div class="col">
										<h2>{% trans "Leader" %}</h2>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col">
										{{ leader_email_form|bootstrap }}
									</div>
								</div>
							</div>
						{% endif %}
						{% if user|has_role:'board,cashier' %}
							<div class="col-md-6">
								<div class="row mt-2">
									<div class="col">
										<h2>{% trans "Cashier" %}</h2>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col">
										{{ cashier_email_form|bootstrap }}
									</div>
								</div>
							</div>
						{% endif %}
						{% if user|has_role:'board,stock_warden' %}
							<div class="col-md-6">
								<div class="row mt-2">
									<div class="col">
										<h2>{% trans "Stock" %}</h2>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col">
										{{ stock_email_form|bootstrap }}
									</div>
								</div>
							</div>
						{% endif %}
						{% if user|has_role:'board' %}
							<div class="col-md-6">
								<div class="row mt-2">
									<div class="col">
										<h2>{% trans "Board" %}</h2>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col">
										{{ board_email_form|bootstrap }}
									</div>
								</div>
							</div>
						{% endif %}
					</div>
					<div class="row">
						<div class="col">
							<input class="btn btn-primary" type="submit" value="{% trans "Save" %}">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% if user|has_role:'board,leader,cashier' %}
		<div class="row mt-4">
			<div class="col">
				<div class="jumbotron col px-auto">
					<div class="row">
						<div class="col">
							<h1 class="text-center">{% trans "Bank details" %}</h1>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="table-responsive">
									{% render_table tables.0 %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-4 mb-4 mb-sm-0">
			<div class="col-auto my-3 text-center">
				<a class="btn btn-lg btn-success mx-3" href="{% url 'auth:create_bankdetails' %}">{% trans "Create bank details" %}</a>
			</div>
		</div>
	{% endif %}
{% endblock %}
