{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Create event" %}</h1>
				<h2 class="text-center">{% trans "Finances" %} {% with step=wizard.steps.step1 %}{% blocktrans with count=wizard.steps.count %}(Step {{ step }} of {{ count }}){% endblocktrans %}{% endwith %}</h2>
				<form method="post">
					{% csrf_token %}
					{{ wizard.management_form }}
					{{ wizard.form|bootstrap }}
					<button class="btn btn-secondary mr-1" name="wizard_goto_step" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
					<input class="btn btn-primary" type="submit" value="{% trans "Next" %}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
