{% extends "_base.html" %}

{% load i18n %}
{% load permission_tags %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mb-4">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Local" %}</h1>
				<table class="table table-borderless table-sm">
					<tr>
						<th>
							{% trans "Name" %}:
						</th>
						<td>{{ object.name }}</td>
					</tr>
					<tr>
						<th>
							{% trans "From" %}:
						</th>
						<td>{{ object.from_date|date }}</td>
					</tr>
					<tr>
						<th>
							{% trans "To" %}:
						</th>
						<td>{{ object.to_date|date }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Place" %}:
						</th>
						<td>{{ object.place|default:"" }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Sections" %}:
						</th>
						<td>{{ object.sections.all|join:", " }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Level" %}:
						</th>
						<td>{{ object.get_level_display }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Description" %}:
						</th>
						<td>{{ object.description }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Fee" %}:
						</th>
						<td>{{ object.fee }} EUR</td>
					</tr>
					<tr>
						<th>
							{% trans "Deadline" %}:
						</th>
						<td>{{ object.deadline|date }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Scoutnet ID" %}:
						</th>
						<td>{{ object.scoutnet_id|default:"" }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Letter" %}:
						</th>
						{% if object.letter %}
							<td><a href="{{ object.letter.url }}" target="_blank">{{ object.letter.name }}</a></td>
						{% else %}
							<td>--</td>
						{% endif %}
					</tr>
				</table>
				<div class="text-center">
					<a class="btn btn-primary mx-3 my-2 px-4" href="{% url "events:edit_event" object.id %}">{% trans "Edit" %}</a>
					<a class="btn btn-danger mx-3 my-2 px-4" href="{% url "events:delete_event" object.id %}">{% trans "Delete" %}</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 mb-4">
			<div class="jumbotron">
				<h1 class="text-center">Scoutnet</h1>
				<table class="table table-borderless table-sm">
					<tr>
						<th>
							{% trans "Name" %}:
						</th>
						<td>{{ scoutnet_object.title }}</td>
					</tr>
					<tr>
						<th>
							{% trans "From" %}:
						</th>
						<td>{{ scoutnet_object.start_date|date }}</td>
					</tr>
					<tr>
						<th>
							{% trans "To" %}:
						</th>
						<td>{{ scoutnet_object.end_date|date }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Place" %}:
						</th>
						<td>{{ scoutnet_object.location }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Sections" %}:
						</th>
						<td>{{ scoutnet_object.stufen }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Level" %}:
						</th>
						<td>{{ scoutnet_object.ebene }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Description" %}:
						</th>
						<td>{{ scoutnet_object.description }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Participants" %}</h1>
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<tr>
							<th>{% trans "First name" %}</th>
							<th>{% trans "Last name" %}</th>
							<th>{% trans "Section" %}</th>
							<th>{% trans "Function" %}</th>
							<th>{% trans "Time of enrollment" %}</th>
							{% for ef in object.eventfield_set.all %}
								<th>{{ ef.name }}</th>
							{% endfor %}
						</tr>
						{% for p in participations %}
							<tr>
								<td>{{ p.member.first_name }}</td>
								<td>{{ p.member.last_name }}</td>
								<td>{{ p.member.section.name }}</td>
								<td>{{ p.member.get_function_display }}</td>
								<td>{{ p.time }}</td>
								{% for pf in p.participationfield_set.all %}
									<td>{{ pf.value }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</table>
				</div>
				<div class="text-center">
					<a class="btn btn-primary mx-3 my-2 px-4" href="{% url "events:subvention_list" object.id %}">{% trans "Subvention list" %}</a>
					<a class="btn btn-primary mx-3 my-2 px-4" href="{% url "events:participant_list" object.id %}">{% trans "Participant list" %}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-4">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Debits" %}</h1>
				<table class="table table-striped table-hover">
					<tr>
						<th>{% trans "Date" %}</th>
						<th>{% trans "Count" %}</th>
						<th>{% trans "Sum" %}</th>
					</tr>
					{% for g in groups %}
						<tr>
							<td>{{ g.date }}</td>
							<td>{{ g.count }}</td>
							<td>{{ g.sum }} EUR</td>
						</tr>
					{% endfor %}
					<tr>
						<td>{{ current_group.date }} {% trans "(still open)" %}</td>
						<td>{{ current_group.count }}</td>
						<td>{{ current_group.sum }} EUR</td>
					</tr>
					<tr>
						<td>{% trans "Not yet created" %}</td>
						<td>{{ notcreated.count }}</td>
						<td>{{ notcreated.sum }} EUR</td>
					</tr>
					<tr>
						<th>{% trans "All" %}</th>
						<th>{{ all.count }}</th>
						<th>{{ all.sum }} EUR</th>
					</tr>
				</table>
				{% if user|has_role:'board' %}
					<div class="text-center">
						<a class="btn btn-success mx-3" href="{% url 'finances:create_event_debits' object.id %}">{% trans "Create missing debits" %}</a>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="col-md-6 mb-4">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Account" %}</h1>
				{% if object.account %}
					<div class="row mx-auto my-auto justify-content-center">
						<div class="col-md-6 pr-0">
								<h3 class="text-center">{% trans "Debit" %}</h3>
								<table class="table table-borderless table-striped table-hover table-sm table-debit">
										{% for type,entry in object.account.get_entries_with_type %}
												{% if type == 'debit' %}
														<tr data-tooltip="true" data-placement="bottom" title="{{ entry.date }}, {{ entry.comment }}">
																<td >{{ entry.id }}</td>
																<td>{{ entry.credit_account }}</td>
																<td>{{ entry.amount }}</td>
														</tr>
												{% else %}
														<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
														</tr>
												{% endif %}
										{% endfor %}
								</table>
						</div>
						<div class="col-md-6 pl-0">
								<h3 class="text-center">{% trans "Credit" %}</h3>
								<table class="table table-borderless table-striped table-hover table-sm table-credit">
										{% for type,entry in object.account.get_entries_with_type %}
												{% if type == 'credit' %}
														<tr data-tooltip="true" data-placement="bottom" title="{{ entry.date }}, {{ entry.comment }}">
																<td>{{ entry.id }}</td>
																<td>{{ entry.debit_account }}</td>
																<td>{{ entry.amount }}</td>
														</tr>
												{% else %}
														<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
														</tr>
												{% endif %}
										{% endfor %}
								</table>
						</div>
						{% with type=object.account.get_balance_with_type.0 %}
							{% if type == 'debit' %}
									<h4 class="text-center">{% trans "Balance" %}: {{ object.account.get_balance_with_type.1 }} {% trans "Debit" %}</h3>
							{% else %}
									<h4 class="text-center">{% trans "Balance" %}: {{ object.account.get_balance_with_type.1 }} {% trans "Credit" %}</h3>
							{% endif %}
						{% endwith %}
					</div>
					<div class="row mt-2">
						<div class="col text-center">
							<a class="btn btn-primary mx-3" href="{% url 'finances:event_export_voucher' object.id %}">{% trans "Vouchers" %}</a>
						</div>
					</div>
				{% else %}
					<div class="row mt-2">
						<div class="col text-center">
							<form action="{% url 'finances:create_event_account' object.id %}" method="post">
								{% csrf_token %}
								<input class="btn btn-success mx-3" type="submit" value="{% trans "Create" %}">
							</form>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Stock" %}</h1>
			</div>
		</div>
	</div>
{% endblock %}
