{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col mb-4 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Create event" %}</h1>
				<h2 class="text-center">{% trans "Overview" %} {% with step=wizard.steps.step1 %}{% blocktrans with count=wizard.steps.count %}(Step {{ step }} of {{ count }}){% endblocktrans %}{% endwith %}</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col mb-4 mx-auto">
			<div class="jumbotron"> 
				<h2 class="text-center">{% trans "General" %}</h2>
				<table class="table table-borderless table-sm">
					<tr>
						<th>
							<strong>{% trans "Name" %}:</strong>
						</th>
						<td>
							{{ event.name }}
						</td>
					</tr>
					<tr>
						<th>
							<strong>{% trans "Date" %}:</strong>
						</th>
						<td>
							{{ event.from_date|date }} - {{ event.to_date|date }}
						</td>
					</tr>
					<tr>
						<th>
							<strong>{% trans "Place" %}:</strong>
						</th>
						<td>
							{{ event.place|default:"" }}
						</td>
					</tr>
					<tr>
						<th>
							<strong>{% trans "Sections" %}:</strong>
						</th>
						<td>
							{{ event.sections.all|join:", " }}
						</td>
					</tr>
					<tr>
						<th>
							<strong>{% trans "Level" %}:</strong>
						</th>
						<td>
							{{ level }}
						</td>
					</tr>
					<tr>
						<th>
							<strong>{% trans "Description" %}:</strong>
						</th>
						<td>
							{{ event.description }}
						</td>
					</tr>
				</table>
				<form method="post">
					{% csrf_token %}
					<button class="btn btn-primary" name="wizard_goto_step" value="general">{% trans "Edit" %}</a>
				</form>
			</div>
		</div>
		<div class="col mb-4">
			<div class="jumbotron">
				<h2 class="text-center">{% trans "Letter" %}</h2>
				<table class="table table-borderless table-sm">
					<tr>
						<th>
							<strong>{% trans "Fee" %}:</strong>
						</th>
						<td>
							{{ event.fee|floatformat:2 }} EUR
						</td>
					</tr>
					<tr>
						<th>
							<strong>{% trans "Deadline" %}:</strong>
						</th>
						<td>
							{{ event.deadline }}
						</td>
					</tr>
					<tr>
						<th>
							<strong>{% trans "Letter" %}:</strong>
						</th>
						<td>
							{{ event.letter|default:"--" }}
						</td>
					</tr>
				</table>
				<form method="post">
					{% csrf_token %}
					<button class="btn btn-primary" name="wizard_goto_step" value="letter">{% trans "Edit" %}</a>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col mb-4 mx-auto">
			<div class="jumbotron"> 
				<h2 class="text-center">{% trans "Enrollment" %}</h2>
				<table class="table table-borderless table-sm">
					<tr>
						<th>
							<strong>{% trans "Name" %}</strong>
						</th>
						<th>
							<strong>{% trans "Type" %}</strong>
						</th>
						<th>
							<strong>{% trans "Choices" %}</strong>
						</th>
						<th>
							<strong>{% trans "Required" %}</strong>
						</th>
					</tr>
					{% for field in event.enrollment %}
						{% if field %}
							<tr>
								<td>
									{{ field.name }}
								</td>
								<td>
									{{ field.type_display }}
								</td>
								<td>
									{{ field.choices|default:"--" }}
								</td>
								<td>
									{{ field.required|yesno }}
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
				<form method="post">
					{% csrf_token %}
					<button class="btn btn-primary" name="wizard_goto_step" value="enrollment">{% trans "Edit" %}</a>
				</form>
			</div>
		</div>
		<div class="col mb-4">
			<div class="jumbotron">
				<h2 class="text-center">{% trans "Finances" %}</h2>
				<table class="table table-borderless table-sm">
					<tr>
						<th>
							<strong>{% trans "Create account" %}:</strong>
						</th>
						<td>
							{{ event.create_account|yesno }}
						</td>
					</tr>
				</table>
				<form method="post">
					{% csrf_token %}
					<button class="btn btn-primary" name="wizard_goto_step" value="finances">{% trans "Edit" %}</a>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 mb-4">
			<div class="jumbotron">
				<h2 class="text-center">{% trans "Stock" %}</h2>
				<form method="post">
					{% csrf_token %}
					<button class="btn btn-primary" name="wizard_goto_step" value="stock">{% trans "Edit" %}</a>
				</form>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col">
			<form method="post">
				{% csrf_token %}
				{{ wizard.management_form }}
				<input class="btn btn-success btn-lg" type="submit" value="{% trans "Create" %}">
			</form>
		</div>
	</div>
{% endblock %}
