{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Create event" %}</h1>
				<h2 class="text-center">{% trans "Letter" %} {% with step=wizard.steps.step1 %}{% blocktrans with count=wizard.steps.count %}(Step {{ step }} of {{ count }}){% endblocktrans %}{% endwith %}</h2>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ wizard.management_form }}
					{% bootstrap_form wizard.form %}
					{{ wizard.form.media }}
					<button class="btn btn-secondary mr-1" name="wizard_goto_step" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
					<input class="btn btn-primary" type="submit" value="{% trans "Next" %}">
			</div>
		</div>
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Create letter" %}</h1>
					{% bootstrap_form letter_form %}
					<input class="btn btn-primary" formaction="{% url "events:letter_preview" %}" type="submit" disabled id="id_preview" formtarget="_blank" value="{% trans "Preview" %}">
				</form>
			</div>
		</div>
	</div>
	<script>
		$().ready(function() {
				$("#id_title").prop("disabled", true);	
				$("#id_opening").prop("disabled", true);	
				$("#id_text").prop("disabled", true);	
				$("#id_closing").prop("disabled", true);	
				$("#id_summary").prop("disabled", true);	
				$("#id_preview").prop("disabled", true);	
				$("#id_letter-letter_source_0").prop("checked", true);	
				$("#id_letter-letter_source_1").prop("checked", false);	
		});
		$('input[name=letter-letter_source]').change(function() {
			if(document.getElementById('id_letter-letter_source_0').checked) {
				$("#id_title").prop("disabled", true);	
				$("#id_opening").prop("disabled", true);	
				$("#id_text").prop("disabled", true);	
				$("#id_closing").prop("disabled", true);	
				$("#id_summary").prop("disabled", true);	
				$("#id_preview").prop("disabled", true);	

				$("#id_letter-letter").prop("disabled", false);	
			} else {
				$("#id_title").prop("disabled", false);	
				$("#id_opening").prop("disabled", false);	
				$("#id_text").prop("disabled", false);	
				$("#id_closing").prop("disabled", false);	
				$("#id_summary").prop("disabled", false);	
				$("#id_preview").prop("disabled", false);	

				$("#id_letter-letter").prop("disabled", true);	
			}
		});
	</script>
{% endblock %}
