{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load permission_tags %}

{% block content %}

<div class="row">
	{% for event in object_list %}
		<div class="col-lg-6 mb-4">
			<div class="jumbotron">
				<table class="table table-borderless table-sm">
					<h1 class="text-center">{{ event.name }}</h1>
					<tr>
						<th>
							{% trans "Date" %}:
						</th>
						<td>{{ event.from_date|date }} - {{ event.to_date|date }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Place" %}:
						</th>
						<td>{{ event.place|default:"" }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Sections" %}:
						</th>
						<td>{{ event.sections.all|join:", " }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Level" %}:
						</th>
						<td>{{ event.get_level_display }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Description" %}:
						</th>
						<td>{{ event.description }}</td>
					</tr>
					<tr>
						<th>
							{% trans "Fee" %}:
						</th>
						<td>{{ event.fee }} EUR</td>
					</tr>
					<tr>
						<th>
							{% trans "Deadline" %}:
						</th>
						<td>
							{% if event.deadline < today %}
								<div class="text-danger">
									{{ event.deadline|date }}
								</div>
							{% else %}
								{{ event.deadline|date }}
							{% endif %}
						
						</td>
					</tr>
					<tr>
						<th>
							{% trans "Letter" %}:
						</th>
						{% if event.letter %}
							<td><a href="{{ event.letter.url }}" target="_blank">{{ event.letter.name }}</a></td>
						{% else %}
							<td>--</td>
						{% endif %}
					</tr>
				</table>
				{% for p in event.participating %}
					<div class="alert alert-success text-center">
						<p>
						{{ p.member }} {% trans "is enrolled!" %}
						</p>
						{% if event.deadline >= today %}
							<a class="btn btn-primary btn-sm mx-1" href="{% url "events:edit_participation" p.pk %}">{% trans "Edit" %}</a>
							<a class="btn btn-danger btn-sm mx-1" href="{% url "events:delete_participation" p.pk %}">{% trans "Withdraw" %}</a>
						{% else %}
							<span data-tooltip="true" data-placement="bottom" title="{% trans "The deadline is over!"%}">
								<a class="btn btn-primary btn-sm disabled ml-2" href="{% url "events:edit_participation" p.pk %}">{% trans "Edit" %}</a>
							</span>
							<span data-tooltip="true" data-placement="bottom" title="{% trans "The deadline is over!"%}">
								<a class="btn btn-danger btn-sm disabled ml-2" href="{% url "events:delete_participation" p.pk %}">{% trans "Withdraw" %}</a>
							</span>
						{% endif %}
					</div>
				{% endfor %}
				 <div class="text-center">
					{% if event.deadline >= today %}
					<a class="btn btn-success mx-3 my-2 px-4" href="{% url 'events:create_participation' event.id %}">{% trans "Enrollment" %}</a>
					{% else %}
						<span data-tooltip="true" data-placement="bottom" title="{% trans "The deadline is over!"%}">
							<a class="btn btn-success mx-3 my-2 px-4 disabled" href="{% url 'events:create_participation' event.id %}">{% trans "Enrollment" %}</a>
						</span>
					{% endif %}
					{% if user|has_role:'board,leader' %}
						<a class="btn btn-primary mx-3 my-2 px-4" href="{% url 'events:details' event.id %}">{% trans "Details" %}</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% if user|has_role:'board,leader' %}
	<div class="row justify-content-center mb-4 mb-sm-0">
		<div class="col-auto my-3 text-center">
			<a class="btn btn-success btn-lg" href="{% url 'events:create_event' %}">{% trans "Create event" %}</a>
		</div>
	</div>
{% endif %}

{% endblock %}
