{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Create event" %}</h1>
				<h2 class="text-center">{% trans "General" %} {% with step=wizard.steps.step1 %}{% blocktrans with count=wizard.steps.count %}(Step {{ step }} of {{ count }}){% endblocktrans %}{% endwith %}</h2>
				<form method="post">
					{% csrf_token %}
					{{ wizard.management_form }}
					{% bootstrap_form wizard.form %}
					{{ wizard.form.media }}
					<input class="btn btn-primary" type="submit" value="{% trans "Next" %}">
				</form>
			</div>
		</div>
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Import from Scoutnet" %}</h1>
				<div class="table-responsive">
					<table class="table table-borderless table-striped table-hover table-sm">
						<tr>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Date" %}</th>
							<th>{% trans "Level" %}</th>
							<th>{% trans "Import" %}</th>
						</tr>
						{% for event in scoutnet_events %}
							<tr>
								<td>{{ event.title }}</td>
								<td>{{ event.start_date|date }} - {{ event.end_date|date }}</td>
								<td>{{ event.ebene }}</td>
								<td><a class="btn btn-primary btn-sm btn-esm" href="{% url 'events:create_event' %}?import={{ event.id }}">{% trans "Import" %}</a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
