{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Create event" %}</h1>
				<h2 class="text-center">{% trans "Enrollment" %} {% with step=wizard.steps.step1 %}{% blocktrans with count=wizard.steps.count %}(Step {{ step }} of {{ count }}){% endblocktrans %}{% endwith %}</h2>
				<form method="post">
					{% csrf_token %}
					{{ wizard.management_form }}
					{{ wizard.form.management_form }}
					{% for form in wizard.form.forms %}
						<div class="form-container form-group">
							{{ form.id }}
							{{ form.type|bootstrap }}
							{{ form.name|bootstrap }}
							{{ form.choices|bootstrap }}
							{{ form.required|bootstrap }}
						</div>
					{% endfor %}
					<div class="form-group mt-3">
						<button class="btn btn-secondary mr-1" name="wizard_goto_step" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>

						<input class="btn btn-primary mx-1" type="submit" value="{% trans "Next" %}">
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var add = '{% trans "Add field" %}';
		var remove = '{% trans "Remove field" %}';
    		$(function() {
			$('.form-container').formset({
				prefix: 'enrollment',
			        addText: add,
				addCssClass: 'btn btn-success mr-1',
				deleteText: remove,
				deleteCssClass: 'btn btn-danger',
			});
    		})
	</script>
{% endblock %}
