{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{{ title }}</h1>
				<form method="post">
					{% csrf_token %}
					{{ form|bootstrap }}
					<input class="btn btn-success" type="submit" value="{% trans "Enroll" %}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
