{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron text-center">
				<h1>{{ title }}</h1>
				<form method="post">
					{% csrf_token %}
					<p>
						{% with event=object.event %}
							{% blocktrans with member=object.member %}
								Are you sure you want to withdraw the enrollment of {{ member }} for {{ event }}?
							{% endblocktrans %}
						{% endwith %}
					</p>
					<a class="btn btn-primary mr-2" href="{% url "events:list" %}">{% trans "Cancel"%}</a>
					<input class="btn btn-danger" type="submit" value="{% trans "Withdraw" %}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
