{% extends "easy_pdf/base.html" %}
{% load static %}

{% block extra_style %}
    <style type="text/css">
    .tn-table {
        border:  1px solid black;
        padding-top: 4px;
        text-align: center;
    }
    </style>
{% endblock %}

{% block content %}
    <h1>Teilnehmerliste</h1>
    <h2>Betreuer</h2>
    <table class="tn-table">
        <tr>
            <th>lfd. Nr.</th>
            <th>Name, Vorname</th>
            <th>PLZ, Wohnort</th>
            <th>Geb.-Datum</th>
            <th>Alter</th>
            <th>Juleica-Nr.</th>
        </tr>
        {% for l in leaders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ l.last_name }}, {{ l.first_name }}</td>
                <td>{{ l.zip }}, {{ l.town }}</td>
                <td>{{ l.dob|date:"d.m.Y" }}</td>
                <td>{{ l.age }}</td>
                <td>{{ l.juleica_nr|default:"--" }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Teilnehmer</h2>
    <table class="tn-table">
        <tr>
            <th>lfd. Nr.</th>
            <th>Name, Vorname</th>
            <th>PLZ, Wohnort</th>
            <th>Geb.-Datum</th>
            <th>Alter</th>
        </tr>
        {% for p in participants %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p.last_name }}, {{ p.first_name }}</td>
                <td>{{ p.zip }}, {{ p.town }}</td>
                <td>{{ p.dob|date:"d.m.Y" }}</td>
                <td>{{ p.age }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}