{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="jumbotron">
				<h1 class="text-center">{{ title }}</h1>
				<form method="post">
					{% csrf_token %}
					{{ wizard.management_form }}
					{% if wizard.form.forms %}
						{{ wizard.form.management_form }}
			    	    		{% for form in wizard.form.forms %}
			    				{{ form|bootstrap }}
			    	    		{% endfor %}
			    		{% else %}
			    	    		{{ wizard.form|bootstrap }}
			    		{% endif %}
					<input class="btn btn-primary" type="submit" value="{% trans "Save" %}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
